input {
  border: 1px solid #ddd;
  padding: 8px 4px;
  margin: 4px 0;
  width: 200px;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 8px 12px;
  background: sandybrown;
  border-radius: 4px;

}